<% name = @placeholder_user.name %>
<% html_title(t(:label_administration), "#{ t('placeholder_users.deletion_info.heading', name: name)}") -%>

<%= labelled_tabular_form_for(
      :placeholder_user,
      url: placeholder_user_path(@placeholder_user),
      html: {
        method: :delete,
        class: 'form danger-zone',
      }) do %>
  <div class='wiki'>
    <section class="form--section">
      <h3 class="form--section-title">
        <%= t('placeholder_users.deletion_info.heading',
              name: content_tag(:em, name))
            .html_safe %>
      </h3>

      <p>
        <%= simple_format t("placeholder_users.deletion_info.data_consequences") %>
      </p>
      <p class="danger-zone--warning">
        <span class="icon icon-error"></span>
        <span><%= t("placeholder_users.deletion_info.irreversible") %></span>
      </p>
      <p>
        <%= t("placeholder_users.deletion_info.confirmation",
              name: content_tag(:em, name, class: "danger-zone--expected-value")
            ).html_safe %>
      </p>
      <div class="danger-zone--verification">
        <input type="text" name="name_verification"/>
        <%= styled_button_tag '', class: '-highlight', disabled: true do
          concat content_tag :i, '', class: 'button--icon icon-delete'
          concat content_tag :span, t(:button_delete), class: 'button--text'
        end %>
      </div>
    </section>
  </div>
<% end %>
