<% html_title t(:label_administration), t("label_placeholder_user_new") %>
<% local_assigns[:additional_breadcrumb] = t(:label_placeholder_user_new) %>
<%= render partial: 'toolbar', locals: { new_user: true,
                                         :@placeholder_user => @placeholder_user } %>
<%= labelled_tabular_form_for @placeholder_user,
                              url: { action: "create" },
                              html: { class: nil, autocomplete: 'off' },
                              as: :placeholder_user do |f| %>
  <%= render partial: 'form', locals: { f: f, placeholder_user: @placeholder_user } %>

  <p>
    <%= styled_button_tag t(:button_create), class: '-highlight -with-icon icon-checkmark' %>
    <%= styled_button_tag t(:button_create_and_continue), name: 'continue', class: '-highlight -with-icon icon-checkmark' %>
  </p>
<% end %>
