

<% content_for :header_tags do %>
  <%= render :partial => 'shared/backlogs_header' %>
<% end %>

<div class='contextual'></div>
<% html_title t(:label_backlogs) %>

<%= toolbar title: t(:label_backlogs) do %>
    <li class="toolbar-item">
      <%= link_to_if_authorized({ controller: '/versions', action: 'new', project_id: @project },
                                { class: 'button -alt-highlight',
                                  aria: { label: t(:label_version_new) },
                                  title: t(:label_version_new) }) do %>
          <%= op_icon('button--icon icon-add') %>
          <span class="button--text"><%= t('activerecord.models.version') %></span>
      <% end %>
    </li>
<% end %>

<% if (@owner_backlogs.empty? && @sprint_backlogs.empty?) %>
  <%= no_results_box action_url: new_project_version_path(@project),
                     display_action: authorize_for('versions', 'new'),
                     custom_title: t(:backlogs_empty_title),
                     custom_action_text: t(:backlogs_empty_action_text)

  %>
<% end %>

<div id="rb">
  <div id="backlogs_container" class="clearfix">
    <div id="owner_backlogs_container">
      <%= render :partial => 'backlog', :collection => @owner_backlogs %>
    </div>
    <div id="sprint_backlogs_container">
      <%= render :partial => 'backlog', :collection => @sprint_backlogs %>
    </div>
  </div>

  <div id="helpers">
    <%= render :partial => "rb_stories/helpers" %>
    <div id="last_updated"><%= date_string_with_milliseconds(@last_update, 0.001) %></div>
  </div>
</div>
