<%= toolbar title: t(:label_custom_field_plural) do %>
  <li class="toolbar-item">
    <%= link_to new_custom_field_path(type: selected_tab(custom_fields_tabs)[:name]),
                { class: 'button -alt-highlight',
                  aria: { label: t(:label_custom_field_new) },
                  title: t(:label_custom_field_new) } do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t('activerecord.models.custom_field') %></span>
    <% end %>
  </li>
<% end %>

<%= render_tabs custom_fields_tabs %>

<% html_title(t(:label_administration), t(:label_custom_field_plural)) -%>
