

<%= toolbar title: t(:label_version_plural) do %>
  <% if current_user.allowed_to?(:manage_versions, @project) %>
    <li class="toolbar-item">
      <%= link_to_if_authorized({ controller: '/versions', action: 'new', project_id: @project },
                                { class: 'button -alt-highlight',
                                  aria: {label: t(:label_version_new)},
                                  title: t(:label_version_new)}) do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t('activerecord.models.version') %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<% if @versions.any? %>
  <%= rails_cell Versions::TableCell, @versions, project: @project %>

  <% if @project.versions.any? %>
    <div class="generic-table--action-buttons">
      <%= link_to t(:label_close_versions),
                  close_completed_project_versions_path(@project),
                  method: :put,
                  class: 'button' %>
    </div>
  <% end %>
<% else %>
  <%= no_results_box action_url: new_project_version_path(@project),
                     display_action: authorize_for('versions', 'new'),
                     custom_title: t('projects.settings.versions.no_results_title_text'),
                     custom_action_text: t('projects.settings.versions.no_results_content_text')
  %>
<% end %>
