
<% html_title(t('ifc_models.label_ifc_models')) -%>

<%= toolbar title: t('ifc_models.label_ifc_models') do %>
  <% if User.current.allowed_to?(:manage_ifc_models, @project) %>
    <li class="toolbar-item">
      <%= link_to new_bcf_project_ifc_model_path,
                  { class: 'button -alt-highlight',
                    aria: { label: t(:'ifc_models.label_new_ifc_model') },
                    title: t(:'ifc_models.label_new_ifc_model') } do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= ::Bim::IfcModels::IfcModel.model_name.human %></span>
      <% end %>
    </li>
  <% end %>
  <% if @ifc_models.defaults.any? %>
    <li class="toolbar-item">
      <%= link_to defaults_bcf_project_ifc_models_path,
                  { class: 'button',
                    aria: { label: t('ifc_models.label_show_defaults') },
                    title: t('ifc_models.label_show_defaults') } do %>
        <%= op_icon('button--icon icon-watched') %>
        <span class="button--text"><%= t('ifc_models.label_show_defaults') %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<% if @ifc_models.defaults.empty? %>
  <%= render partial: 'no_default_notice', locals: { project: @project } %>
<% end %>

<%= rails_cell ::Bim::IfcModels::TableCell, @ifc_models %>
