<%= toolbar title: title do %>
  <li class="toolbar-item hidden-for-mobile">
    <%= link_to({ action: 'copy' }, class: 'button') do %>
      <%= op_icon('button--icon icon-copy') %>
      <span class="button--text"><%= t(:button_copy) %></span>
    <% end %>
  </li>
  <li class="toolbar-item">
    <%= link_to({ action: 'show' }, class: 'button') do %>
      <%= op_icon('button--icon icon-info1') %>
      <span class="button--text"><%= t(:label_workflow_summary) %></span>
    <% end %>
  </li>
<% end %>
