<% content_for :header_tags do %>
  <meta name="required_script" content="two_factor_authentication"/>
<% end %>

<section class="form--section">
  <%= render partial: 'users/form/basic_attributes', locals: { f: f } %>

  <% if current_user.admin? %>
    <%= render partial: 'users/form/authentication/auth_source', locals: { f: f } %>
    <%= render partial: 'users/form/admin_flag', locals: { f: f } %>
  <% end %>

  <%= render partial: 'users/form/custom_fields', locals: { f: f } %>
  <%= call_hook(:view_users_form, user: @user, form: f) %>
</section>
