
<%= breadcrumb_toolbar(@user.name) do %>
  <li class="toolbar-item">
    <%= link_to user_path(@user), class: 'button' do %>
      <%= op_icon('button--icon icon-user') %>
      <span class="button--text"><%= t(:label_profile) %></span>
    <% end %>
  </li>
  <% if current_user.allowed_to_globally?(:manage_user) %>
  <li class="toolbar-item hidden-for-mobile">
    <%= form_for(@user, html: { class: 'toolbar-item' },
                 url: { action: :resend_invitation },
                 method: :post) do |_form| %>
      <button class="button" title="<%= t(:tooltip_resend_invitation) %>">
        <%= op_icon('button--icon icon-mail1') %>
        <span class="button--text"><%= t(:label_send_invitation) %></span>
      </button>
    <% end %>
  </li>
  <% end %>

  <% if current_user.admin? %>
    <% unless current_user.id == @user.id %>
      <%= form_for @user, html: { class: 'toolbar-item hidden-for-mobile' }, :url => { :action => :change_status },
                   :method => :post do %>
        <li>
          <%= change_user_status_buttons(@user) %>
        </li>
      <% end %>
    <% end %>
    <% if Setting.users_deletable_by_admins? %>
      <li class="toolbar-item">
        <%= link_to deletion_info_user_path(@user), class: 'button' do %>
          <%= op_icon('button--icon icon-delete') %>
          <span class="button--text"><%= t(:button_delete) %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>
