

<% content_for :header_tags do %>
  <meta name="required_script" content="new_user" />
<% end %>

<% html_title t(:label_administration), t("label_user_new") %>
<% local_assigns[:additional_breadcrumb] = t(:label_user_new) %>

<%= toolbar title: t(:label_user_new) %>

<%= error_messages_for_contract @user, @errors %>

<%= labelled_tabular_form_for @user,
                              url: { action: "create" },
                              html: { class: nil, autocomplete: 'off' },
                              as: :user do |f| %>
  <%= render partial: 'simple_form', locals: { f: f, auth_sources: @auth_sources, user: @user } %>

  <p>
    <%= styled_button_tag t(:button_create), class: '-highlight -with-icon icon-checkmark' %>
    <%= styled_button_tag t(:button_create_and_continue), name: 'continue', class: '-highlight -with-icon icon-checkmark' %>
  </p>
<% end %>
