<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :enumeration %>
<section class="form--section">
  <%= f.hidden_field 'type' %>
  <div class="form--field -required"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <div class="form--field"><%= f.check_box 'active' %></div>
  <div class="form--field"><%= f.check_box 'is_default' %></div>

  <% if @enumeration.class.colored? %>
    <%= render partial: '/colors/color_autocomplete_field',
               locals: {
                 form: f,
                 object: @enumeration,
                 type: 'enumeration',
                 label: @enumeration.color_label
               } %>
  <% end %>
</section>
