

<% resource = budget_attachment_representer(f.object) %>
<%= error_messages_for_contract @budget, @errors %>

<div class="form--field -required">
  <%= f.text_field :subject, required: true, autofocus: true, container_class: '-wide' %>
</div>
<div class="form--field -visible-overflow">
  <%= f.text_area :description,
                  container_class: '-xxwide',
                  with_text_formatting: true,
                  resource: resource %>
</div>
<div class="form--field">
  <%= f.text_field :fixed_date, container_class: '-xslim', class: '-augmented-datepicker' %>
</div>

<%= render partial: 'budgets/subform/material_budget_subform' %>
<%= render partial: 'budgets/subform/labor_budget_subform' %>

<div style="clear: both;"> </div>
