

<% tabs = [
  {
    name: 'WorkPackage',
    partial: 'attribute_help_texts/tab',
    path: attribute_help_texts_path(tab: 'WorkPackage'),
    label: :label_work_package
  },
  {
    name: 'Project',
    partial: 'attribute_help_texts/tab',
    path: attribute_help_texts_path(tab: 'Project'),
    label: Project.model_name.human
  }
] %>


<%= toolbar title: t(:'attribute_help_texts.label_plural') do %>
  <li class="toolbar-item">
    <%= link_to new_attribute_help_text_path(name: selected_tab(tabs)[:name]),
                { class: 'attribute-help-texts--create-button button -alt-highlight',
                  aria: {label: t(:'attribute_help_texts.add_new')},
                  title: t(:'attribute_help_texts.add_new')} do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t('activerecord.models.attribute_help_text') %></span>
    <% end %>
  </li>
<% end %>

<%= render_tabs tabs %>
