

<fieldset class="form--fieldset">
  <legend class="form--fieldset-legend"><%=t(:label_backlogs)%></legend>
  <div class="form--field">
    <%= styled_label_tag :backlogs_task_color, t(:'backlogs.task_color') %>
    <%= styled_text_field_tag :'backlogs[task_color]', color, container_class: '-middle' %>
  </div>
  <div class="form--field">
    <%= styled_label_tag :backlogs_versions_default_fold_state, I18n.t('backlogs.label_versions_default_fold_state') %>
    <%= styled_check_box_tag :"backlogs[versions_default_fold_state]", "closed", versions_default_fold_state == "closed" %>
  </div>
</fieldset>
