

<div class="modal-delivery-element">
  <%= labelled_tabular_form_for current_user, url: { action: 'user_settings', controller: 'onboarding' }, html: { id: 'user-form' } do |f| %>
    <div class="op-modal--header op-modal--header_highlight">
      <%= avatar(current_user) %>
      <h1 class="op-modal--title">
        <%= I18n.t('onboarding.welcome') %>, <%= current_user.name %>
      </h1>
      <button
        type="button"
        class="op-modal--close-button"
        title="<%= t('js.close_popup_title') %>"
        aria-label="<%= t('js.close_popup_title') %>"
      >
        <%= op_icon('icon-close') %>
      </button>
    </div>

    <div class="onboarding--main op-modal--body">
      <b><%= I18n.t('onboarding.select_language') %></b>
      <fieldset class="form--fieldset">
        <div class="form--field">
          <%= f.select :language, lang_options_for_select, container_class: '-slim' %>
        </div>
      </fieldset>
    </div>

    <div class="onboarding--footer op-modal--footer">
      <%= styled_button_tag t(:button_save), class: '-highlight -with-icon icon-checkmark' %>
    </div>
  <% end %>
</div>

