<div class="modal-delivery-element">
  <div class="op-modal--header op-modal--header_highlight">
    <%= op_icon 'icon-context icon-user' %>
    <h1 class="op-modal--title">
      <%= I18n.t('onboarding.welcome') %>
    </h1>
    <button
      type="button"
      class="op-modal--close-button"
      title="<%= t('js.close_popup_title') %>"
      aria-label="<%= t('js.close_popup_title') %>"
    >
      <%= op_icon('icon-close') %>
    </button>
  </div>

  <div class="onboarding--main op-modal--body">
    <h2><%= I18n.t('onboarding.heading_getting_started') %></h2>
    <div class="onboarding--video-block">
      <div class="onboarding--video-text">
        <span><%= I18n.t('onboarding.text_getting_started_description') %></span>
      </div>
      <div class="onboarding--video iframe-target-wrapper">
      </div>
    </div>
  </div>

  <div class="onboarding--footer op-modal--footer">
    <span><em><%= I18n.t('onboarding.text_show_again') %></em></span>
    <button
      class="button -highlight"
      dynamic-content-modal-close-button
      title=<%= t(:button_close) %>
    ><%= t(:button_close) %></button>
  </div>
</div>
