

<%= content_for :header_tags do %>
  <% html_title(*local_assigns[:page_title]) if local_assigns[:page_title].present? %>
  <%= nonced_javascript_tag do %>
    <%= include_gon(need_tag: false) -%>
  <% end %>
  <!-- plug-in specific tags -->
  <%= call_hook :view_work_package_overview_attributes %>
<% end -%>

<%= content_for :content_body do %>
  <proyeksiapp-base></proyeksiapp-base>

  <%# Allow projection pages to show rails rendered content after initialization %>
  <div id="projected-content" hidden>
    <%= yield %>
  </div>
<% end -%>

<%= render template: 'layouts/base', locals: local_assigns.merge({ no_action_menu: true }) %>
