

<% html_title h(@document.title) -%>
<%= toolbar title: @document.title,
            subtitle: "#{@document.category.name} - #{format_date @document.created_at}" do %>
  <% if authorize_for(:documents, :edit) %>
    <li class="toolbar-item">
      <%= link_to({controller: '/documents', action: 'edit', id: @document}, class: 'button', accesskey: accesskey(:edit)) do %>
        <%= op_icon('button--icon icon-edit') %>
        <span class="button--text"><%= t(:button_edit) %></span>
      <% end %>
    </li>
  <% end %>
  <% if authorize_for(:documents, :destroy) %>
    <li class="toolbar-item">
      <%= link_to({controller: '/documents', action: 'destroy', id: @document}, class: 'button', data: { confirm: t(:text_are_you_sure) }, method: :delete) do %>
        <%= op_icon('button--icon icon-delete') %>
        <span class="button--text"><%= t(:button_delete) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="wiki op-uc-container">
  <%= format_text @document.description, attachments: @document.attachments %>
</div>

<%= list_attachments(api_v3_document_resource(@document)) %>
